<%=render "partials/navigation"%>
<%if user_signed_in?%>
<h1>Nuevo Gasto</h1>

<%= render 'form' %>

<%= link_to 'Back', spedings_path,class:"btn btn-default btn-sm  btn-lg active" %>
<%else%>
<p>
  <strong>Para acceder a esta información debe iniciar seción</strong>
</p>

  <%= link_to 'Atrás', spedings_path,class:"btn btn-default btn-sm  btn-lg active" %>
  <%end%>
