<%=render "partials/navigation"%>
<%if user_signed_in?%>
<h1>Nuevo Alumno</h1>
<%= render 'form' %>

<%= link_to 'Atr치s', students_path ,class:"btn btn-default btn-lg active btn-sm "%>
<%else%>
<p>
  <strong>Para acceder a esta informaci칩n debe iniciar seci칩n</strong>
</p>
  <%= link_to 'Atr치s', students_path ,class:"btn btn-default btn-lg active btn-sm "%>
  <%end%>
