  <%=render "partials/navigation"%>
  <%if user_signed_in?%>
<h1>Nuevo Apoderado</h1>

<%= render 'form' %>

<%= link_to 'Atr치s', parents_path %>
<%else%>
<p>
  <strong>Para acceder a esta informaci칩n debe iniciar seci칩n</strong>
</p>

  <%= link_to 'Atr치s', parents_path %>
  <%end%>
